<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>An error has occurred – Management Information Reports – Office for National Statistics</title>
    <link href="https://cdn.ons.gov.uk/sdc/design-system/26.0.1/favicons/favicon-32x32.png" rel="icon" sizes="32x32"
          type="image/png">
    <link href="https://cdn.ons.gov.uk/sdc/design-system/26.0.1/favicons/favicon-16x16.png" rel="icon" sizes="16x16"
          type="image/png">
    <link color="#5bbad5" href="https://cdn.ons.gov.uk/sdc/design-system/26.0.1/favicons/safari-pinned-tab.svg"
          rel="mask-icon">
    <link href="https://cdn.ons.gov.uk/sdc/design-system/26.0.1/favicons/apple-touch-icon.png" rel="apple-touch-icon"
          sizes="180x180" type="image/png">
    <link href="https://cdn.ons.gov.uk/sdc/design-system/26.0.1/favicons/manifest.json" rel="manifest">
    <link href="https://cdn.ons.gov.uk/sdc/design-system/26.0.1/css/main.css" rel="stylesheet">
</head>
<body>
<header class="header header--internal" role="banner">
    <div class="header__top">
        <div class="container">
            <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap ">
                <div class="grid__col col-auto">
                    <a class="header__logo-link" href="/">
                        <picture>
                            <source alt="Office for National Statistics logo"
                                    media="(max-width: 499px)"
                                    srcset="https://ons-design-system.netlify.app/img/ons-logo-stacked-neg-en.svg">
                            <img alt="Office for National Statistics logo"
                                 class="header__logo"
                                 src="https://ons-design-system.netlify.app/img/ons-logo-neg-en.svg">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    <div class="header__title">Management Information Reports</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page__container container" id="main-content">
    <div class="grid">
        <div class="grid__col col-8@m">
            <main class="page__main " id="page-main-content">
                <h1>Sorry, there is a problem with the service</h1>
                <p>Try again later.</p>
                <p>If you are still experiencing problems <a href="https://ons.service-now.com/">report this issue</a>
                    to Service Desk</p>
                <p>Or try to navigate to the Management Information Reports <a href="/">homepage</a>.</p>
            </main>
        </div>
    </div>
</div>
</body>
</html>
